
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
     
    padding-bottom: 25px;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
   
}


#options{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 80px;
    padding-top: 150px;
}


#scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

#playerscore{
    display: flex;
    margin: 50px;

}

#computerscore{
    margin: 50px;
}

#counter{
    display: flex;
    align-items: center;
    justify-content: center;
}

#notification{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: larger;
}

#computerChose{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}