

#options{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    padding-top: 250px;
}


#scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

#playerscore{
    display: flex;
    margin: 50px;

}

#computerscore{
    margin: 50px;
}

#counter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerlist{
    display: flex;
    align-items: center;
    justify-content: center;
}
